{# templates/author/edit.html.twig #}

<h1>Modifier l'Auteur</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Modifier Auteur</button>
{{ form_end(form) }}
